[submodule "mnemo_lib"]
	path = mnemo_lib
	url = ../pytool_mnemo_lib

[submodule "ariane_lib"]
	path = ariane_lib
	url = ../pytool_ariane_lib

[submodule "compass_lib"]
	path = compass_lib
	url = ../pytool_compass_lib

[submodule "openspeleo_lib"]
	path = openspeleo_lib
	url = ../pytool_openspeleo_lib

[submodule "openspeleo_core"]
	path = openspeleo_core
	url = ../openspeleo_core

[submodule "davies"]
	path = davies
	url = ../davies
